
  #mesajErr
  {
	 color: red;
			font-weight: 1000;
			margin: 0;
			background: black;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			font-size: 100px;
  }
  
.eroareAdaugareXML
{
	font-weight: bold;
	color:red;
	padding-top:15px;
	
}
.eroareCautare
{
	font-weight: bold;
	color:red;
	padding-top:15px;
}
.succesAdd
{
	font-weight: bold;
	color:blue;
	padding-top:15px;
}
.eroareDelete
{
	font-weight: bold;
	color:red;
	padding-top:15px;
}
.succesDelete
{
	font-weight: bold;
	color:blue;
	padding-top:15px;
}